<h1> Hello, Pleas Sign Up </h1>

<form action = "/signUp" method = "POST">
    <input type = "text" placeholder = "Your Email ... " name = "email">
    <input type = "password" placeholder = "Your Password ... " name = "password">
    <input type = "submit" value = "Sign Up">
</form>