<h3> Create new Beaver </h3>
<form action = "/beavers" method = "post">
    <input type = "text" placeholder="Add new beaver's name..." name = "submittedName">
    <input type = "submit" value = "Create new beaver">
</form>