<h3> Beaver Info, <a href="/"> go back home </a> </h3>

<p> Hello "<%= beaver.name %>" </p>
<a href="/beavers/<%= id %>/update">Update</a> | 
<a href="/beavers/<%= id %>/delete">Delete</a>
<!-- link to update page -->

<!-- link to delete page -->
