<h3> Update Beaver with id: <%= id %> </h3>
<form action = "/beavers/<%= id %>/update" method = "post">
    <input type = "text" placeholder="Update name..." value="<%= beaver.name %>" name = "submittedName">
    <input type = "submit" value = "Update beaver">
</form>